.item {
	text-decoration: none;
	font-weight: bold;
}
.item::after .task_list_container {
	padding: 2rem;
}

hr {
	width: 200px;
	margin-left: 0;
	height: 2px;
}
.main {
	/* background: red; */
	width: fit-content;

	text-align: left;
	border: 1px solid black;
}
.container {
	display: flex;
	justify-content: space-around;
}

.canvas-container {
	text-align: center;
}

.left_container {
	margin-left: 50px;
}

.btn-title {
	background-color: red;
	border: none;
	padding: 5px;
	margin: 5px;
}

.btn-author {
	background-color: blue;
	color: white;
	border: none;
	padding: 5px;
	margin: 5px;
}

.title {
	background-color: red;
	padding: 3px;
	border-radius: 5px;
}

.author {
	background-color: blue;
	color: white;
	padding: 3px;
	border-radius: 5px;
}

.cord {
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
}

.active {
	background-color: green;
	font-size: 20px;
	color: white;
	box-shadow: 5px 5px 5px 1px rgba(35, 78, 48, 0.2);
}
